In [60]:
# basic
import pandas as pd
import numpy as np
import time
import glob
from datetime import datetime 


# darts
from darts import TimeSeries
from darts.dataprocessing import Pipeline
from darts.dataprocessing.transformers import Scaler
import matplotlib.pyplot as plt

In [75]:
csv_files = glob.glob('/Users/dicod/semester_projects_02/Data/*.csv')
df = pd.DataFrame()

for file in csv_files:
    temp_df = pd.read_csv(file)
    df = pd.concat([df, temp_df], ignore_index=True)

In [76]:
df = df[['MTU (CET/CEST)','Day-ahead Price [EUR/MWh]']]
df = df.rename(columns={'MTU (CET/CEST)': 'date', 'Day-ahead Price [EUR/MWh]': 'Price'})
df['date'] = df['date'].apply(lambda x: x[0:16])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35068 entries, 0 to 35067
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    35068 non-null  object
 1   Price   35064 non-null  object
dtypes: object(2)
memory usage: 548.1+ KB

In [78]:
df[df.Price.isnull() == True]

                   date Price
2114   29.03.2020 02:00   NaN
10851  28.03.2021 02:00   NaN
19588  27.03.2022 02:00   NaN
28325  26.03.2023 02:00   NaN

In [79]:
df[df.date == '29.03.2020 02:00']

                  date Price
2114  29.03.2020 02:00   NaN

In [80]:
df = df[df['Price'] != '-']

In [81]:
df[df.Price == '-']

Empty DataFrame
Columns: [date, Price]
Index: []

In [82]:
#df['Price'].fillna(df['Price'].mean(), inplace=True)
# why we use interpolate operation: Linear Interpolation simply means to estimate a missing value by connecting dots in a straight line in increasing order.
# In short, It estimates the unknown value in the same increasing order from previous values. The default method used by Interpolation is Linear.

df['Price'].interpolate(method='linear', inplace=True)

In [83]:
df.info()
# it still have nan data.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29715 entries, 0 to 29714
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    29715 non-null  object
 1   Price   29711 non-null  object
dtypes: object(2)
memory usage: 696.4+ KB

In [84]:
df.isnull().sum()

date     0
Price    4
dtype: int64

In [85]:
# interpoate function does not work, so I try median price.
median_price = df['Price'].median()
df['Price'].fillna(median_price, inplace=True)

In [86]:
df.isnull().sum()

date     0
Price    0
dtype: int64

In [87]:
df['date'].duplicated().sum()

3

In [88]:
df_no_duplicates = df.drop_duplicates(subset='date')
df_no_duplicates.isnull().sum()

date     0
Price    0
dtype: int64

In [89]:
df_finish = df_no_duplicates
df_finish.head()

               date  Price
0  01.01.2020 00:00  33.42
1  01.01.2020 01:00  31.77
2  01.01.2020 02:00  31.57
3  01.01.2020 03:00  31.28
4  01.01.2020 04:00  30.85

In [90]:
df_finish.to_csv('clean_df.csv')

In [91]:
time_series = TimeSeries.from_dataframe(df_finish, time_col='date', value_cols = 'Price', fill_missing_dates=True, freq=None)

In [92]:
ts = time_series

In [ ]:
33333

2222