In [53]:
pip install polars

Requirement already satisfied: polars in c:\users\dicod\anaconda3\lib\site-packages (0.17.9)
Requirement already satisfied: typing_extensions>=4.0.1 in c:\users\dicod\anaconda3\lib\site-packages (from polars) (4.4.0)
Note: you may need to restart the kernel to use updated packages.

In [107]:
import pandas as pd
import polars as pl
from datetime import datetime

# Define the input format and output format
input_format = '%Y-%m-%dT%H:%M'
output_format = '%Y-%m-%d %H:%M'

# Read CSV file, skip first 3 rows
df_weather = pd.read_csv('archive.csv', skiprows=3)

# Convert date format
df_weather['time'] = df_weather['time'].apply(lambda x: datetime.strptime(x, input_format).strftime(output_format))

# Print the first few rows of the DataFrame
df_weather.head()

,time,temperature_2m (°C),relativehumidity_2m (%),precipitation (mm),direct_radiation (W/m²),diffuse_radiation (W/m²),windspeed_10m (m/s),windspeed_100m (m/s)
0,2015-01-01 00:00,4.0,97,0.0,0.0,0.0,3.75,7.13
1,2015-01-01 01:00,4.0,96,0.0,0.0,0.0,3.95,7.64
2,2015-01-01 02:00,3.8,96,0.0,0.0,0.0,4.01,7.92
3,2015-01-01 03:00,3.6,95,0.0,0.0,0.0,4.14,7.91
4,2015-01-01 04:00,3.3,94,0.0,0.0,0.0,4.04,7.83

In [108]:
df_weather = pl.from_pandas(df_weather)

In [109]:
df_weather.head()

shape: (5, 8)
┌───────────────┬────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
│ time          ┆ temperatur ┆ relativehumi ┆ precipitatio ┆ direct_radia ┆ diffuse_radi ┆ windspeed_10 ┆ windspeed_10 │
│ ---           ┆ e_2m (°C)  ┆ dity_2m (%)  ┆ n (mm)       ┆ tion (W/m²)  ┆ ation (W/m²) ┆ m (m/s)      ┆ 0m (m/s)     │
│ str           ┆ ---        ┆ ---          ┆ ---          ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│               ┆ f64        ┆ i64          ┆ f64          ┆ f64          ┆ f64          ┆ f64          ┆ f64          │
╞═══════════════╪════════════╪══════════════╪══════════════╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 2015-01-01    ┆ 4.0        ┆ 97           ┆ 0.0          ┆ 0.0          ┆ 0.0          ┆ 3.75         ┆ 7.13         │
│ 00:00         ┆            ┆              ┆              ┆              ┆              ┆              ┆              │
│ 2015-01-01    ┆ 4.0        ┆ 96           ┆ 0.0          ┆ 0.0          ┆ 0.0          ┆ 3.95         ┆ 7.64         │
│ 01:00         ┆            ┆              ┆              ┆              ┆              ┆              ┆              │
│ 2015-01-01    ┆ 3.8        ┆ 96           ┆ 0.0          ┆ 0.0          ┆ 0.0          ┆ 4.01         ┆ 7.92         │
│ 02:00         ┆            ┆              ┆              ┆              ┆              ┆              ┆              │
│ 2015-01-01    ┆ 3.6        ┆ 95           ┆ 0.0          ┆ 0.0          ┆ 0.0          ┆ 4.14         ┆ 7.91         │
│ 03:00         ┆            ┆              ┆              ┆              ┆              ┆              ┆              │
│ 2015-01-01    ┆ 3.3        ┆ 94           ┆ 0.0          ┆ 0.0          ┆ 0.0          ┆ 4.04         ┆ 7.83         │
│ 04:00         ┆            ┆              ┆              ┆              ┆              ┆              ┆              │
└───────────────┴────────────┴──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴──────────────┘

In [116]:
df_prices = pl.read_csv('Elspotprices.csv', separator = ';')
df_prices.head()

shape: (5, 5)
┌──────────────────┬──────────────────┬───────────┬──────────────┬──────────────┐
│ HourUTC          ┆ HourDK           ┆ PriceArea ┆ SpotPriceDKK ┆ SpotPriceEUR │
│ ---              ┆ ---              ┆ ---       ┆ ---          ┆ ---          │
│ str              ┆ str              ┆ str       ┆ str          ┆ str          │
╞══════════════════╪══════════════════╪═══════════╪══════════════╪══════════════╡
│ 2019-12-30 22:00 ┆ 2019-12-30 23:00 ┆ DK1       ┆ 181,729996   ┆ 24,330000    │
│ 2019-12-30 21:00 ┆ 2019-12-30 22:00 ┆ DK1       ┆ 221,690002   ┆ 29,680000    │
│ 2019-12-30 20:00 ┆ 2019-12-30 21:00 ┆ DK1       ┆ 221,619995   ┆ 29,670000    │
│ 2019-12-30 19:00 ┆ 2019-12-30 20:00 ┆ DK1       ┆ 229,160004   ┆ 30,680000    │
│ 2019-12-30 18:00 ┆ 2019-12-30 19:00 ┆ DK1       ┆ 235,889999   ┆ 31,580000    │
└──────────────────┴──────────────────┴───────────┴──────────────┴──────────────┘

In [133]:
# df.with_columns(pl.all().is_null().suffix("_isnull"))  # nan != null
df_prices.with_columns(pl.all().is_null().suffix("_isnull"))
null_count_df = df_prices.null_count()
#nan_count_df = df_prices.nan_count()
print(null_count_df)
#print(nan_count_df)

shape: (1, 5)
┌─────────┬──────┬───────────┬──────────────┬──────────────┐
│ HourUTC ┆ time ┆ PriceArea ┆ SpotPriceDKK ┆ SpotPriceEUR │
│ ---     ┆ ---  ┆ ---       ┆ ---          ┆ ---          │
│ u32     ┆ u32  ┆ u32       ┆ u32          ┆ u32          │
╞═════════╪══════╪═══════════╪══════════════╪══════════════╡
│ 0       ┆ 0    ┆ 0         ┆ 0            ┆ 0            │
└─────────┴──────┴───────────┴──────────────┴──────────────┘

In [134]:
df_prices.describe()

shape: (9, 6)
┌────────────┬──────────────────┬──────────────────┬───────────┬──────────────┬──────────────┐
│ describe   ┆ HourUTC          ┆ time             ┆ PriceArea ┆ SpotPriceDKK ┆ SpotPriceEUR │
│ ---        ┆ ---              ┆ ---              ┆ ---       ┆ ---          ┆ ---          │
│ str        ┆ str              ┆ str              ┆ str       ┆ str          ┆ str          │
╞════════════╪══════════════════╪══════════════════╪═══════════╪══════════════╪══════════════╡
│ count      ┆ 43800            ┆ 43800            ┆ 43800     ┆ 43800        ┆ 43800        │
│ null_count ┆ 0                ┆ 0                ┆ 0         ┆ 0            ┆ 0            │
│ mean       ┆ null             ┆ null             ┆ null      ┆ null         ┆ null         │
│ std        ┆ null             ┆ null             ┆ null      ┆ null         ┆ null         │
│ min        ┆ 2014-12-31 23:00 ┆ 2015-01-01 00:00 ┆ DK1       ┆ -0,070000    ┆ -0,010000    │
│ max        ┆ 2019-12-30 22:00 ┆ 2019-12-30 23:00 ┆ DK1       ┆ 99,980003    ┆ 99,980003    │
│ median     ┆ null             ┆ null             ┆ null      ┆ null         ┆ null         │
│ 25%        ┆ null             ┆ null             ┆ null      ┆ null         ┆ null         │
│ 75%        ┆ null             ┆ null             ┆ null      ┆ null         ┆ null         │
└────────────┴──────────────────┴──────────────────┴───────────┴──────────────┴──────────────┘

In [138]:
# df.with_column(pl.col("numeric_ints").cast(pl.Utf8))
# pl.DataFrame(data, schema={"col1": pl.Float32, "col2": pl.Int64})
df_prices = pl.DataFrame(df_prices, schema = {'PriceArea':pl.Int64, 'SpotPriceDKK':pl.Int64})

ValueError: DataFrame constructor called with unsupported type; got <class 'polars.dataframe.frame.DataFrame'>

In [121]:
df_prices = df_prices.rename({"HourDK": "time"})

In [119]:
df_weather.columns

['time',
 'temperature_2m (°C)',
 'relativehumidity_2m (%)',
 'precipitation (mm)',
 'direct_radiation (W/m²)',
 'diffuse_radiation (W/m²)',
 'windspeed_10m (m/s)',
 'windspeed_100m (m/s)']

In [122]:
df_prices.columns

['HourUTC', 'time', 'PriceArea', 'SpotPriceDKK', 'SpotPriceEUR']

In [123]:
# df_total = df_acc.join(df_bike, on="Accident_Index", how="inner")
df_wp = df_weather.join(df_prices, on = 'time', how= "inner")

In [124]:
df_wp.head()

shape: (5, 12)
┌──────────────┬────────────┬──────────────┬──────────────┬───┬──────────────┬───────────┬──────────────┬──────────────┐
│ time         ┆ temperatur ┆ relativehumi ┆ precipitatio ┆ … ┆ HourUTC      ┆ PriceArea ┆ SpotPriceDKK ┆ SpotPriceEUR │
│ ---          ┆ e_2m (°C)  ┆ dity_2m (%)  ┆ n (mm)       ┆   ┆ ---          ┆ ---       ┆ ---          ┆ ---          │
│ str          ┆ ---        ┆ ---          ┆ ---          ┆   ┆ str          ┆ str       ┆ str          ┆ str          │
│              ┆ f64        ┆ i64          ┆ f64          ┆   ┆              ┆           ┆              ┆              │
╞══════════════╪════════════╪══════════════╪══════════════╪═══╪══════════════╪═══════════╪══════════════╪══════════════╡
│ 2015-01-01   ┆ 4.0        ┆ 97           ┆ 0.0          ┆ … ┆ 2014-12-31   ┆ DK1       ┆ 186,220001   ┆ 25,020000    │
│ 00:00        ┆            ┆              ┆              ┆   ┆ 23:00        ┆           ┆              ┆              │
│ 2015-01-01   ┆ 4.0        ┆ 96           ┆ 0.0          ┆ … ┆ 2015-01-01   ┆ DK1       ┆ 136,130005   ┆ 18,290001    │
│ 01:00        ┆            ┆              ┆              ┆   ┆ 00:00        ┆           ┆              ┆              │
│ 2015-01-01   ┆ 3.8        ┆ 96           ┆ 0.0          ┆ … ┆ 2015-01-01   ┆ DK1       ┆ 119,389999   ┆ 16,040001    │
│ 02:00        ┆            ┆              ┆              ┆   ┆ 01:00        ┆           ┆              ┆              │
│ 2015-01-01   ┆ 3.6        ┆ 95           ┆ 0.0          ┆ … ┆ 2015-01-01   ┆ DK1       ┆ 108,669998   ┆ 14,600000    │
│ 03:00        ┆            ┆              ┆              ┆   ┆ 02:00        ┆           ┆              ┆              │
│ 2015-01-01   ┆ 3.3        ┆ 94           ┆ 0.0          ┆ … ┆ 2015-01-01   ┆ DK1       ┆ 111,269997   ┆ 14,950000    │
│ 04:00        ┆            ┆              ┆              ┆   ┆ 03:00        ┆           ┆              ┆              │
└──────────────┴────────────┴──────────────┴──────────────┴───┴──────────────┴───────────┴──────────────┴──────────────┘

In [125]:
rowCount = df_wp.shape[0]
rowCount

43800

In [126]:
df_wp.columns

['time',
 'temperature_2m (°C)',
 'relativehumidity_2m (%)',
 'precipitation (mm)',
 'direct_radiation (W/m²)',
 'diffuse_radiation (W/m²)',
 'windspeed_10m (m/s)',
 'windspeed_100m (m/s)',
 'HourUTC',
 'PriceArea',
 'SpotPriceDKK',
 'SpotPriceEUR']

In [127]:
df_wp.describe()

shape: (9, 13)
┌────────────┬──────────────┬──────────────┬──────────────┬───┬──────────────┬───────────┬──────────────┬──────────────┐
│ describe   ┆ time         ┆ temperature_ ┆ relativehumi ┆ … ┆ HourUTC      ┆ PriceArea ┆ SpotPriceDKK ┆ SpotPriceEUR │
│ ---        ┆ ---          ┆ 2m (°C)      ┆ dity_2m (%)  ┆   ┆ ---          ┆ ---       ┆ ---          ┆ ---          │
│ str        ┆ str          ┆ ---          ┆ ---          ┆   ┆ str          ┆ str       ┆ str          ┆ str          │
│            ┆              ┆ f64          ┆ f64          ┆   ┆              ┆           ┆              ┆              │
╞════════════╪══════════════╪══════════════╪══════════════╪═══╪══════════════╪═══════════╪══════════════╪══════════════╡
│ count      ┆ 43800        ┆ 43800.0      ┆ 43800.0      ┆ … ┆ 43800        ┆ 43800     ┆ 43800        ┆ 43800        │
│ null_count ┆ 0            ┆ 0.0          ┆ 0.0          ┆ … ┆ 0            ┆ 0         ┆ 0            ┆ 0            │
│ mean       ┆ null         ┆ 10.90329     ┆ 74.129954    ┆ … ┆ null         ┆ null      ┆ null         ┆ null         │
│ std        ┆ null         ┆ 8.280516     ┆ 17.516082    ┆ … ┆ null         ┆ null      ┆ null         ┆ null         │
│ min        ┆ 2015-01-01   ┆ -12.8        ┆ 15.0         ┆ … ┆ 2014-12-31   ┆ DK1       ┆ -0,070000    ┆ -0,010000    │
│            ┆ 00:00        ┆              ┆              ┆   ┆ 23:00        ┆           ┆              ┆              │
│ max        ┆ 2019-12-30   ┆ 37.4         ┆ 100.0        ┆ … ┆ 2019-12-30   ┆ DK1       ┆ 99,980003    ┆ 99,980003    │
│            ┆ 23:00        ┆              ┆              ┆   ┆ 22:00        ┆           ┆              ┆              │
│ median     ┆ null         ┆ 10.3         ┆ 78.0         ┆ … ┆ null         ┆ null      ┆ null         ┆ null         │
│ 25%        ┆ null         ┆ 4.4          ┆ 62.0         ┆ … ┆ null         ┆ null      ┆ null         ┆ null         │
│ 75%        ┆ null         ┆ 17.2         ┆ 89.0         ┆ … ┆ null         ┆ null      ┆ null         ┆ null         │
└────────────┴──────────────┴──────────────┴──────────────┴───┴──────────────┴───────────┴──────────────┴──────────────┘

In [128]:
# we need to change the datatype (HourUTC	PriceArea	SpotPriceDKK	SpotPriceEUR) 
# remove null data...

null_count_df_wp = df_wp.null_count()
print(null_count_df_wp)

shape: (1, 12)
┌──────┬──────────────────┬──────────────────┬─────────────────┬───┬─────────┬───────────┬──────────────┬──────────────┐
│ time ┆ temperature_2m   ┆ relativehumidity ┆ precipitation   ┆ … ┆ HourUTC ┆ PriceArea ┆ SpotPriceDKK ┆ SpotPriceEUR │
│ ---  ┆ (°C)             ┆ _2m (%)          ┆ (mm)            ┆   ┆ ---     ┆ ---       ┆ ---          ┆ ---          │
│ u32  ┆ ---              ┆ ---              ┆ ---             ┆   ┆ u32     ┆ u32       ┆ u32          ┆ u32          │
│      ┆ u32              ┆ u32              ┆ u32             ┆   ┆         ┆           ┆              ┆              │
╞══════╪══════════════════╪══════════════════╪═════════════════╪═══╪═════════╪═══════════╪══════════════╪══════════════╡
│ 0    ┆ 0                ┆ 0                ┆ 0               ┆ … ┆ 0       ┆ 0         ┆ 0            ┆ 0            │
└──────┴──────────────────┴──────────────────┴─────────────────┴───┴─────────┴───────────┴──────────────┴──────────────┘

In [ ]:
# Grouping and Aggregation